<div class="contians" #containsBox>
    <span class="close-button" (click)="closeBox()">&times;</span>
    <h2 class="title">Reserve Now & Pay Later</h2>
    <div class="contentbx">
      <p>We'll reserve your spot today, and you can cancel up to two days before your experience without making a payment. Secure your spot with ease, stay flexible, and never miss out.</p>
      <li>Find your experience</li>
      <p>Choose the experience you want knowing you can secure your spot without being</p>
      <li>Make a booking</li>
      <p>Reserve now and pay later to secure your spot, commitment-free.</p>
      <li>Choose when to pay</li>
      <p>Come back to pay once your plans are set, or let auto-pay kick in two days before your experience.</p>
      <li>Enjoy your experience</li>
      <p>Now you're all set! Have a great time.</p>
    </div>
  </div>