<!-- <div class="log-parent">
    <div class="log-box">
        <h1>Login</h1>
        <div class="log-bot">
            <form class="log-form" [formGroup] = "logForm">
                <label class="">Email ID:</label>
                <input type="text" class="form-control" formControlName="email">
                <span *ngIf="!fCon.email.valid && fCon.email.dirty" class="help-block">*Email Required</span>
                <label>Password</label>
                <input type="password" class="form-control" formControlName="pwd">
                <span *ngIf="!fCon.pwd.valid && fCon.pwd.dirty" class="help-block">*Password Required</span>   

                <button type="submit" class="btn" (click)="login()">Sign In</button>
                <button type="submit" class="btn" (click)="logout()">Logout</button>
            </form>
            <p>New to TripNow? <a routerLink="/register">Sign Up</a></p>
        </div>

    </div>
</div> -->


<div class="main">   
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="login">
      <form class="form" [formGroup] = "logForm">
        <label for="chk" aria-hidden="true">Log in</label>
        <input class="input form-control" type="email" name="email" placeholder="Email" formControlName="email">
        <span *ngIf="!fCon.email.valid && fCon.email.dirty" class="help-block">*Email Required</span>
        <input class="input form-control" type="password" name="pswd" placeholder="Password" formControlName="pwd">
        <span *ngIf="!fCon.pwd.valid && fCon.pwd.dirty" class="help-block">*Password Required</span>   
        <button class="btn btn-primary" (click)="login()" [disabled]="!logForm.valid">Log in</button>
      </form>
    </div>

    <div class="register">
      <form class="form" [formGroup]="regForm">
        <label for="chk" aria-hidden="true">Register</label>
        <input class="input form-control" type="email" name="email" placeholder="Email" required="" formControlName="email">
        <span *ngIf="!rCon.email.valid && rCon.email.dirty" class="help-block1">*Email Required</span>
        <input class="input form-control" type="password" name="pswd" placeholder="Password" required="" formControlName="pwd">
        <span *ngIf="!rCon.pwd.valid && rCon.pwd.dirty" class="help-block1">*Password Required</span>
        <input class="input form-control" type="password" name="pswd" placeholder="Confirm Password" required="" formControlName="cpwd">
        <span *ngIf="!rCon.cpwd.valid && rCon.cpwd.dirty" class="help-block1">*Password Required</span>
        <button class="btn btn-primary" (click)="register()" [disabled]="regForm.invalid">Register</button>
      </form>
    </div>
  </div>