<div class="image-container">
    <img src="../../assets/images/bike2 - Copy.jpg" alt="Bike Image">
    <div class="image-text">Leh Ladakh Bike Tour - 6N/7D</div>
    <button class="imgbtn">Enquire Now</button>
    <p>6 Nights 7 Days Leh</p>
</div>

<mat-tab-group>
    <mat-tab label="OVERVIEW">
      <div class="tab-content tab-content-1">
        <h1>Overview</h1>
        <br><p>Get ready to make your dream of riding in Ladakh come true in the action-packed bike trip where one would be experiencing the fusion of thrill, serene beauty, and culture of The "Land of High Passes", as the entire tour is exclusively elected by our outdoor experts.<br><br>

Ride your bikes to the top of the world through the world’s highest motorable passes with the spectacular beauty of snow-capped mountains. Admired for its unparalleled scenic views, pristine icy lakes, and swirling roads, Ladakh is becoming the most Instagrammable place in India and is on everyone’s bucket list. It offers you a stay amidst the beautiful valley of mountains and a starlit sky in the night. The unique thing about the Ladakh terrain is that it has mountains, forests, deserts, lakes, rivers, waterfalls in one beautiful and dynamic geography.<br>

 

<br>Quick info:<br>

<br>Route: Leh - Sham Valley - Khardungla- Nubra Valley - Pangong - Chang-la - Stok village - Leh.<br>

<br>Duration: 7 Days & 6 Nights <br>

<br>Start point:  Leh Airport<br>

<br>Endpoint: Leh Airport<br>

<br>Passes covered: Khardung-la (18,000 ft) and Chang-la (17,688 ft)</p>


      </div>
    </mat-tab>
    <mat-tab label="INCLUSION/EXCLUSTION">
      <div class="tab-content tab-content-2">
        <h1>Inclusions/Exclusions</h1>
        <p><br>What is included in the tour?<br>
            <br><li>Meals on MAP Plan(Breakfast and Dinner) starting with Dinner on Day 1.</li>
            <br><li>Accomodation on double (couples(without additional charges) and special requests(on additional charges)) and triple sharing(general) basis in hygienic budget hotels/camps.</li>
            <br><li>Royal Enfield Himalayan Bike</li>
            <br><li>Helmets(Suggest you to bring your own)</li>
            <br><li>01 Mechanic, 01 Marshall, 01 Backup Vehicle specifically for luggage.</li>
            <br><li>Fuel for the entire journey(As per the itinerary)</li>
            <br><li>Inner-Line Permit for all restricted areas</li>
            <br><li>Wildlife Fee and Environmental Fee</li>
            <br><li>Sightseeing as per itinerary</li>
            <br><li>Oxygen cylinder and basic first-aid during the tour.</li>
            <br><li>Evening bonfire(on additional cost).</li>
            <br><li>Airport  Pickup and Drop (At a common time for the group)</li></p>
      </div>
    </mat-tab>
    <mat-tab label="INETRARY">
      <div class="tab-content tab-content-3">
        <h1>Itinerary</h1>
        <h3><br>Day 1 : Arrival in Leh | Welcome to the Top of the World</h3>
        <p><br><li>After arrival, reach the designated hotel in Leh</li>
            <br><li>Gradually get acclimatized to the climate.</li>
            <br><li>Later in the evening, visit the Leh Market, Leh Palace, and Shanti Stupa on your own.</li>
            <br><li>Have delicious dinner at the hotel.</li>
            <br><li>Overnight stay at the hotel in Leh</li></p>
        <h3><br>Day 2 : Leh to Sham Valley | Exploring Borders of Leh</h3>
        <p><br><li>Begin your day early with a delicious breakfast and prepare for an adventurous ride to the legendary 'Sham Valley'.</li>

            <br><li>Visit the confluence of the Zanskar- Indus Rivers, which is also the world highest river rafting point</li>
            
            <br><li>Experience the world-famous Hall of fame and learn more about the Indo-Pak wars and the martyrs</li>
            
            <br><li>Visit the Magnetic Hill, where you can witness the unusual phenomenon of vehicles sliding uphill on neutral gear</li>
            
            <br><li>While returning to Leh, enjoy delicious langar at Gurudwara Pathar Sahib.</li>
            
            <br><li>Later, enjoy dinner after you have experienced a day full of activities and thrill.</li>
            
            <br><li>Overnight stay at hotel in Leh</li></p>
      </div>
    </mat-tab>
  </mat-tab-group>