<div class="contians" #containsBox>
    <span class="close-button" (click)="closeBox()">&times;</span>
    <h2 class="title">Lowest Price Guarantee</h2>
    <div class="contentbx">
        <p>We guarantee to offer the lowest prices on all our products. If you find a lower price elsewhere, we'll match
            it! Simply provide us with the details of the lower price you found, and we'll verify and match it.</p>
    </div>
    <!-- <div class="cls">
        <button>Close</button>
    </div> -->
</div>