<section class="home" id="home">

    <div class="content">
        <h3>adventure is worthwhile</h3>
        <p>Discover new places with us, adventure awaits</p>
        <!-- <a href="#" class="btn">Discover More</a> -->
    </div>

    <div class="controls">
        <span class="vid-btn active" data-src="../assets/images/vid-1.mp4"></span>
        <span class="vid-btn" data-src="../assets/images/vid-2.mp4"></span>
        <span class="vid-btn" data-src="../assets/images/vid-3.mp4"></span>
        <span class="vid-btn" data-src="../assets/images/vid-4.mp4"></span>
        <span class="vid-btn" data-src="../assets/images/vid-5.mp4"></span>
    </div>

    <div class="video-container">
        <video src="../assets/images/vid-1.mp4" id="video-slider" loop autoplay muted></video>
    </div>

</section>

<section class="packages">

    <h1 class="heading">
        Our Top Rated Destination
    </h1>

    <div class="box-container">

        <div class="box">
            <a routerLink="/packages"><img src="../../assets/images/Norway-g.jpg" alt="">
            <div class="content">
                <h3 style="text-decoration: none;"> <i class="fas fa-map-marker-alt"></i> Norway </h3>
                <p>The Northern Lights are notoriously hard to predict, even in Tromso. So it makes sense to increase your chances of a sighting by joining a guided excursion, especially if you’re only in Tromso briefly.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price"> $242.87 <span>$350.99</span> </div>              
                </div>
            </a> 
        </div>

        <div class="box">
            <a routerLink="/packages"><img src="../../assets/images/Mysore - Gallery.jpg" alt="">
            <div class="content">
                <h3> <i class="fas fa-map-marker-alt"></i> Bangalore - Mysore </h3>
                <p>Explore the timeless allure of Mysore, where history, innovation meets modernity amidst iconic landmarks, vibrant culture, and endless charm amidst vibrant streets.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price"> $58.98 <span>$79.99</span> </div>
                </div>
            </a>
        </div>

        <div class="box">
            <a routerLink="/packages"><img src="../../assets/images/Dubai-g.jpg" alt="">
            <div class="content">
                <h3> <i class="fas fa-map-marker-alt"></i> Dubai </h3>
                <p>Uncover the enchanting magic of Dubai, a world where luxury meets innovation amidst the dazzling backdrop of breathtaking skylines and boundless cultural wonders.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price"> $187.65 <span>$259.99</span> </div>
            </div>
            </a>
        </div>

    </div>

</section>

<section class="services" id="services">

    <h1 class="heading">
        Services
    </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-hotel"></i>
            <h3>Affordable Hotels</h3>
            <p>Embark on budget-friendly adventures and rest easy at our selection of affordable hotel accommodations.</p>
        </div>
        <div class="box">
            <i class="fas fa-utensils"></i>
            <h3>Food and Drinks</h3>
            <p>Discover the perfect blend of taste and ambience with our exquisite dining options and crafted cocktails.</p>
        </div>
        <div class="box">
            <i class="fas fa-bullhorn"></i>
            <h3>safety Guide</h3>
            <p>Protect yourself and your loved ones with our indispensable safety guide, offering invaluable insights and precautions.</p>
        </div>
        <div class="box">
            <i class="fas fa-globe-asia"></i>
            <h3>Around the World</h3>
            <p>Join us on a journey of discovery as we traverse the globe, uncovering the beauty and diversity of our planet.</p>
        </div>
        <div class="box">
            <i class="fas fa-plane"></i>
            <h3>Fastest Travel</h3>
            <p>Jet-set around the globe with our premium travel services, offering the quickest routes and seamless experiences.</p>
        </div>
        <div class="box">
            <i class="fas fa-hiking"></i>
            <h3>Adventures</h3>
            <p>Ignite your spirit of adventure and push your limits with our action-packed experiences in the great outdoors.</p>
        </div>

    </div>

</section>


<section class="gallery" id="gallery">

    <h1 class="heading">
        A Click Away From Forever Memories
    </h1>

    <div class="box-container">

        <div class="box">
            <img src="../../assets/images/Paris_image.jpg" alt="">
            <div class="content">
                <h3>Explore</h3>
                <p>Click book now to know more!</p>
                <a [routerLink]="['/package-details']" class="btn">Book Now</a>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/Dubai-g.jpg" alt="">
            <div class="content">
                <h3>Explore</h3>
                <p>Click book now to know more!</p>
                <a href="#" class="btn">Book Now</a>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/Amsterdam-g.jpg" alt="">
            <div class="content">
                <h3>Explore</h3>
                <p>Click book now to know more!</p>
                <a [routerLink]="['/package-details-2']" class="btn">Book Now</a>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/Dubai1-g.jpg" alt="">
            <div class="content">
                <h3>Explore</h3>
                <p>Click book now to know more!</p>
                <a href="#" class="btn">Book Now</a>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/Rome-g.jpg" alt="">
            <div class="content">
                <h3>Explore</h3>
                <p>Click book now to know more!</p>
                <a href="#" class="btn">Book Now</a>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/srilanka-g.png" alt="">
            <div class="content">
                <h3>Explore</h3>
                <p>Click book now to know more!</p>
                <a href="#" class="btn">Book Now</a>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/Istanbul-g.jpg" alt="">
            <div class="content">
                <h3>Explore</h3>
                <p>Click book now to know more!</p>
                <a href="#" class="btn">Book Now</a>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/Norway-g.jpg" alt="">
            <div class="content">
                <h3>Explore</h3>
                <p>Click book now to know more!</p>
                <a href="#" class="btn">Book Now</a>
            </div>
        </div>
        <div class="box">
            <img src="../../assets/images/Mysore - Gallery.jpg" alt="">
            <div class="content">
                <h3>Explore</h3>
                <p>Click book now to know more!</p>
                <a href="#" class="btn">Book Now</a>
            </div>
        </div>
    </div>
</section>
<app-contactus></app-contactus>