<div class="log-parent">
    <div class="log-box">
        <h1>Register</h1>
        <div class="log-bot">
            <form class="log-form" [formGroup]="regForm">
                <label class="">Email ID:</label>
                <input type="text" class="form-control" formControlName="email">
                <span *ngIf="!fCon.email.valid && fCon.email.touched" class="help-block">*Email Required</span>
                <label>Password</label>
                <input type="text" class="form-control" formControlName="pwd">
                <span *ngIf="!fCon.pwd.valid && fCon.pwd.touched" class="help-block">*Password Required</span>
                <label>Confirm Password</label>
                <input type="text" class="form-control" formControlName="cpwd">
                <span *ngIf="!fCon.cpwd.valid && fCon.cpwd.touched" class="help-block">*Password should be the same as above</span>
                <button type="submit" class="btn" (click)="register()">Sign Up</button>
            </form>
        </div>

    </div>
</div>